@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  margin: 0; }

h1, h2 {
  font-weight: 500;
  z-index: 5000; }

.section {
  padding: 1em;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

#landing {
  background: #bf26ee;
  background-blend-mode: multiply;
  background-image: url(../images/organ_logo.png);
  background-position: center;
  background-size: cover; }

.rightSplat {
  margin-left: 50%;
  margin-bottom: 20%; }

#aboutPoster {
  background: #f5a9a9; }

.bkg {
  background: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  opacity: 0.7; }

#aboutUs {
  background-image: url(../images/weAre.svg); }

#askUs {
  background: #00afcf; }

#communityEvents {
  background-image: url(../images/events.svg); }

.textPage {
  margin: 1em; }

.colorPage {
  color: white; }
  .colorPage .action {
    color: white; }

.titleSmall {
  font-weight: 700; }

.titleText {
  color: white;
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;
  width: 10px;
  font-weight: 500;
  z-index: 7000; }

.desc {
  position: absolute;
  z-index: 6000;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centerText {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  font-weight: 600; }

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.action {
  color: red;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  margin-left: 1em;
  font-weight: 700; }

.line {
  height: 3px;
  width: 30%;
  background: red;
  display: block; }

#aboutPoster {
  position: relative; }

.item {
  position: absolute; }

.imgBox {
  width: 280px;
  height: 450px;
  opacity: 0.5;
  position: absolute; }

.drawHeart {
  margin-top: 180px;
  filter: blur(3px); }

footer {
  height: 5em; }

@media screen and (min-width: 600px) {
  .section {
    padding: 3em; }

  .titleText {
    margin-left: 0; }

  .centerText {
    padding: 3em;
    font-size: 0.9em;
    top: 50%; }

  .action {
    margin-left: 3em; }

  .desc {
    position: relative; }

  .imgBox {
    opacity: 1; }

  .item {
    height: 120%; }

  .drawHeart {
    height: 50%; } }
@media screen and (min-width: 900px) {
  .section {
    padding: 5em; } }
.navArea {
  position: absolute;
  background-color: #ff0000;
  width: 40%;
  right: 0;
  height: 100%; }

.navList {
  list-style-type: none;
  margin-top: 100px; }

.navLink {
  color: #dfdfdf;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  transition: all .2s ease-in-out;
  font-weight: bold; }

.navLink:hover {
  border-bottom: 1px #dfdfdf solid;
  padding-bottom: 2px; }

.navInfo {
  list-style-type: none;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: .9em;
  color: #dfdfdf; }

.infoList {
  margin-bottom: 20px; }

/* CSS Document */
.hidden {
  display: none; }

.lock {
  overflow: hidden; }

html {
  margin: 0; }

.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0; }

.siteTitle {
  margin: 0;
  font-size: 2em;
  margin-left: 55px;
  display: inline-block;
  padding-top: 40px;
  font-weight: bold; }

.menuButton {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
  float: right;
  margin-top: 40px;
  margin-right: 75px;
  font-weight: bold; }

.menuButton:hover {
  text-decoration: underline; }

.closeButton {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #dfdfdf;
  float: right;
  margin-top: 40px;
  margin-right: 75px;
  font-weight: bold; }

.closeButton:hover {
  text-decoration: underline; }

.imgFilter {
  list-style-type: none;
  float: right;
  clear: both;
  margin-right: 75px;
  margin-top: 70px; }

.filterChoice {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 50px; }

.filterChoice a {
  text-decoration: none;
  color: #000000; }

.filterChoice a:hover {
  text-decoration: underline; }

.imgSect {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin-left: 3%;
  justify-content: space-around;
  margin-top: 160px; }

.orgPoster {
  flex-basis: 400px;
  height: auto;
  margin-bottom: 30px; }

.orgPoster img {
  width: 100%;
  height: auto;
  border: .8px solid #000; }

footer {
  background-color: #313131;
  margin-top: 30px;
  height: 100px; }

footer .siteTitle {
  color: #ffffff;
  padding-bottom: 0px; }

.copyright {
  margin: 0;
  display: inline-block;
  text-align: center; }

.centerer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 35vw; }

.centered {
  vertical-align: middle;
  display: inline-block;
  font-size: .75em;
  color: #fff;
  font-weight: initial; }

@media screen and (max-width: 775px) {
  .imgFilter {
    float: none;
    clear: both;
    width: 76%;
    margin-left: 12%;
    padding: 0;
    display: flex;
    justify-content: space-around; }

  .filterChoice {
    margin: 0; }

  .imgSect {
    margin-top: 50px; } }

/*# sourceMappingURL=master.css.map */
